*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header {
    background-color:black;
    color: white;
    text-align: right;
    padding: 10px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cards img {
    width: 160px;
    margin-bottom: 10px;
}

.button{
    background-color: grey;
    border-radius: 10px;
    color: white;
    width: fit-content;
}
