*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #000000;
    --first-color: #4A4A4A;
    --nav-color:#222222;
    --second-color: #E8100C;
    --third-color:#4CC703;
}

body{
    background-color: var(--bg-color);
}

header {
    background-color:black;
    color: white;
    text-align: right;
    padding: 10px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cards img {
    width: 160px;
    margin-bottom: 10px;
}

.button{
    background-color: var(--first-color);
    border-radius: 5px;
    color: white;
    width: fit-content;
    display: inline;
    font-size: 12px;
}

nav {
    background-color: var(--nav-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul{
    list-style: none;
    text-decoration: none;
}